.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 60vh;
    gap: 1em;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeInUp 2s ease-out;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#login-box{
    min-width: 100vw;
    min-height: 100vh;
    background-image: url(../../assets/undraw_login_re_4vu2.svg), url(../../assets/undraw_floating_re_xtcj.svg) ;
    background-repeat: no-repeat;
    background-position: bottom right, top left;
    background-size: auto, 30% 40%;
    animation: fadeInUp 1s ease-out;
}

#btn-custom{
    background-color: #6c63ff;
    color: white;
}

#btn-custom:hover {
  background-color: #5753e3;
  color: white;
}